@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

:root{
    --bg-size:100% 100%;
    --main-color:#fff;
    --title: 'Barlow Semi Condensed', sans-serif;
    --btn-color:#bbe1fa;
    --btn-font-color:#000;
    --btn-font:1.5rem;
    --eff: .3s all ease;
}
*{
    font-family: var(--title);
}
html{
    font-size: 62.5%;
}

p,label,input::placeholder{
    font-size: 1.9rem;
    line-height: 170%;
    color:#6C757d;
}
figure img, .fab, .fas{
    transition: var(--eff);
}
a,a:hover{
    text-decoration: none;
    cursor: pointer;
}
body{
    background: hsl(84, 3%, 94%);
}
.main-heading{
    font-size: 5.5rem;
    color: #000;
    font-family: var(--title);
    font-weight: bold;
}
.main_para{
    font-size: 2.2rem;
}
.main_header__div{
    height: calc(100vh - 40vh);
    background-image: url(pexels-bongkarn-thanyakij-3815584.jpg);
    background-size: var(--bg-size);
}
.main_header__div p{
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--main-color);
    padding-bottom: 0;
    margin-bottom:0;
}
.main_header__div h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-color);
    position: relative;
    transition: var(--eff);
    padding-bottom: 2rem;
}

.animateword div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 8rem;
    padding-top: 1rem;
    margin-top: -1rem;
}

.animateword div li{
    list-style: none;
    padding:0 1rem;
    height: 4.5rem;
    margin-bottom: 4.5rem;
    display:block;
}

.flip4 {
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }

}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }

}

.blog-left-div h1{
    font-weight: bold;
    font-size: 3rem;
}
.blog-left-div .blog_title{
    font-weight: 400;
    font-size: 2rem;
    
}
.blog_title .blog_title span{
    color: #1b262c;
}
 figure img:hover{
   transform: translateY(-0.5rem) ;
}
.left_div_btn{
    margin-top: 3rem;
    transition: var(--eff);
}
.left_div_btn .left_div_like{
    /* color: var(--btn-font-color);
    border-width: .2rem;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    /* outline: none;
    border: none;  */ 
    color: var(--btn-font-color);
    border-width: .2rem;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    font-family: var(--title);
}
.left_div_btn .left_div_reply{
    color: var(--btn-font-color);
    border-width: 0;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    outline: none;
    border: none;
}
.replies{
    margin: 2rem 0;
    padding: 1rem 0;
    transition: var(--eff);
    display:none;
}
.reply_show{
    margin: 2rem 0;
    transition: var(--eff);
    display: block;
}

/* right side div start  here  */
.about_me_div{
    width: auto;
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(208, 206, 207, 0.8) 50%), url('IMG_20190907_073625.jpg');
    background-size: var(--bg-size);
}
.about_me_div p:first-child{
    padding-bottom: 0.2rem;
    font-size: 2.2rem;
}
.about_me_div p{
    font-size: 1.8rem;
    padding-bottom:1rem ;
    color:#000;
}
.right_div_title h2{
    font-size: 2.5rem;
    padding-left: 2rem;
}
.right_div_title{
    background: #d0cecf;
    box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.8);
}

.popular_post_img1{
    background-image: url(bg.png);
    background-size: var(--bg-size);
}

.popular_post_img2{
    background-image: url(mz.jpg);
    background-size: var(--bg-size);
}
.popular_post_img3{
    background-image: url(zb.jpg);
    background-size: var(--bg-size);
}
.popular_post_img4{
     background-image: url(sj.jpg);
    background-size: var(--bg-size);   
}
.right_sub_div .row{
    margin-bottom: 1rem;
}
.right_sub_div .row:last-child{
    margin-bottom: 0;
}
.row> .right_div_post{
    padding-left: 0;
    padding-right: 0;
}

.row{
    margin-top: 0;
}
.tags_main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem,8rem));
    grid-gap: .5rem;
}
.tags_main a{
    font-size: 1.7rem;
    line-height: 170%;
    font-weight: lighter;
    background: #6c757d;
    transition: var(--eff);
}
.tags_main a:hover{
    color: var(--btn-font-colorcolor);
    background: var(--btn-color);
}


/* advertisement */
.adevetise_img{
    min-width: 10rem;
    height: 20rem;
    display: grid;
    place-items: center;
}
.fab{
    color:#000;
}

.fab:hover{
    color: grey;
    transform: rotate(360deg);
}
footer p{
    margin-bottom: 0;
    padding-bottom:0;
}

/* responsivr code start  */
@media(max-width:998px){
    html{
     font-size:60%;
    }
    p,label,input::placeholder{
        font-size: 2.2rem;
        line-height: 170%;
        color:#6C757d;
    }
    :root{
        --btn-font:2rem;
    }
    .main_header__div h2{
        font-size:4rem;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
    .flip4 {
        -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
        animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    }
    
    @-webkit-keyframes flip4 {
        0% {
            margin-top: -360px;
        }
    
        5% {
            margin-top: -270px;
        }
    
        25% {
            margin-top: -270px;
        }
    
        30% {
            margin-top: -180px;
        }
    
        50% {
            margin-top: -180px;
        }
    
        55% {
            margin-top: 0px;
        }
    
        75% {
            margin-top: 0px;
        }
    
        80% {
            margin-top: 0px;
        }
    
        99.99% {
            margin-top: 0px;
        }
    
        100% {
            margin-top: 0px;
        }
    
    }
    
    @keyframes flip4 {
        0% {
            margin-top: -360px;
        }
    
        5% {
            margin-top: -270px;
        }
    
        25% {
            margin-top: -270px;
        }
    
        30% {
            margin-top: -180px;
        }
    
        50% {
            margin-top: -180px;
        }
    
        55% {
            margin-top: 20px;
        }
    
        75% {
            margin-top: 0px;
        }
    
        80% {
            margin-top: 0px;
        }
    
        99.99% {
            margin-top: 0px;
        }
    
        100% {
            margin-top: 0px;
        }
    
    }
}


